#bestM{}

#bestM .m-wrap{}

#bestM .m-wrap h2{
  margin-top: 80px;
  font-size: 16px;
  text-align: center;
}

#bestM .b-box{
  width: 100%;
  height: 50%;
  overflow: hidden;
}

#bestM .b-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

#bestM ul{}

#bestM li{}

#bestM li a{}

#bestP{
  width: 100%;
  height: 100%;
}

#bestP .m-wrap{}

#bestP .main-img {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-top: 80px;
}

#bestP .main-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#bestP .p-top {
}

#bestP h3 {
  font-size: 14px;
}

#bestP p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

#bestP p:nth-child(3){
  font-size: 14px;
}

#bestP p:nth-child(5){
  font-size: 16px;
  font-weight: 700;
}

#bestP p{}

#bestP .c-thumbs {

}

#bestP .thumb-block {
  width: 69px;
  height: 69px;
  display: inline-block;
  overflow: hidden;
  margin-right: 14px;
}

#bestP .thumb-block .thumb {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#bestP .m-desc {
}

#bestP .c-btns {
}

#bestP .c-btn {
  border: 0;
  border-radius: 20px;
}

#bestP .c-btn1 {
  width: 123px;
  height: 35px;
}

#bestP .c-btn2 {
}

#bestB {
  display: none;
}

#bestB .p-bottom {
}

#bestB .r-items {
}

#bestB .r-info {
}

#bestB .r-box {
}

#bestB .r-box img {
}

#bestB .r-btns {
}

#bestB .c-btn {
}

#bestB .c-btn1 {
}

#bestB .c-btn2 {
}

