#codylist {}

#codylist .wrap {
  margin-top: 150px;
}

#codylist .cody-layout {
  display: flex;
}

#codylist .cody-left {

}

#codylist .cody-list {
  display: flex;
}

#codylist .s-card {
  margin-right: 20px;
  position: relative;
  width: 342px;
  height: 540px;
}
#codylist .c-img-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

#codylist .c-image {
  height: 100%;
}

#codylist .cody-desc {
  position: absolute;
  bottom: 40px;
  left: 40px;
  white-space: pre-line; /* \n 줄바꿈 적용 */
  font-size: 20px;
  line-height: 1.6;
  color: white;
}

#codylist .cody-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#codylist .a-title {
  width: 342px;
  height: 82px;
  background-color: var(--primary);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

#codylist .a-lists {
  padding-left: 0;
  margin-bottom: 20px;
}

#codylist .a-list {
  width: 342px;
  height: 84px;
  background-color: white;
  border: 1px solid #B3C3D4;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  color: #1E3A5F;
  flex-direction: column;
  gap: 5px;
}

#codylist .a-list h4{
  font-size: 18px;
  font-weight: bold;
}

#codylist .a-list p{
  font-size: 14px;
}

.back{
  position: fixed;
  left: 120px;
  bottom: 50px;
  border: 0;
  width: 48px;
  height: 48px;
  background-color: #FFF9CE;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back::before{
  content: "";
  background-image: url(/img/back.png);
  width: 10px;
  height: 17px;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-1px);
}

/* 날씨별 색상 */
.theme.sunny   { --primary: #93D8FF; }
.theme.cloudy  { --primary: #B3C3D4; }
.theme.rainy   { --primary: #B3C3D4; }
.theme.snowy   { --primary: #93D8FF; }
