#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#header .wrap {
  justify-content: end;
  align-items: center;
}

#header .router-link-active {}

#header .router-link-active img {}

#header .nav-right {
  margin-top: 15px;
  display: flex;
  justify-content: stretch;
  gap: 50px;
  margin-right: 120px;
}

#header .nav-right img {
  width: 23px;
  height: 23px;
}

#header .nav-right img:nth-child(1) {}

#header .nav-right img:nth-child(2) {}

#header .nav-right img:nth-child(3) {}