#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#header .wrap {
  justify-content: end;
  align-items: center;
}

#header .router-link-active {}

#header .router-link-active img {}

#header .nav-right {}

#header .nav-right img {}

#header .nav-right img:nth-child(1) {}

#header .nav-right img:nth-child(2) {}

#header .nav-right img:nth-child(3) {}